PackingView/.gitignore
PackingView/.idea/compiler.xml
PackingView/.idea/copyright/profiles_settings.xml
PackingView/.idea/gradle.xml
PackingView/.idea/misc.xml
PackingView/.idea/modules.xml
PackingView/.idea/runConfigurations.xml
PackingView/app/.gitignore
PackingView/app/app-release.zip
PackingView/app/build.gradle
PackingView/app/proguard-rules.pro
PackingView/app/src/androidTest/java/com/example/jsc55/packingview/ExampleInstrumentedTest.java
PackingView/app/src/test/java/com/example/jsc55/packingview/ExampleUnitTest.java
PackingView/build.gradle
PackingView/gradle.properties
PackingView/gradle/wrapper/gradle-wrapper.jar
PackingView/gradle/wrapper/gradle-wrapper.properties
PackingView/gradlew
PackingView/gradlew.bat
PackingView/settings.gradle
